@charset "UTF-8";

label {
/* 	border: solid 1px gray; */
	padding: 0px;
	margin: 0px auto;
	text-align: left;
}

th {
	width: 80px !important;
	padding: 0px;
	margin: 0px auto;
}

td {
	text-align: left;
	padding: 0px;
	margin: 0px auto;
	
}

#wrapper {
	padding: 0px;
	margin: 0 auto;
	width: 100%;	
}

/* #content { */
/* 	border : solid 1px black; */
	
/* } */

#content-wrapper {
	padding: 0px;
	margin: 0 auto;
}